/flyweight/Flyweight/nbproject/private/
/flyweight/Flyweight/build/
/flyweight/cajeroAutomatico/nbproject/private/
/State/cajeroAutomatico/nbproject/private/
/State/cajeroAutomatico/build/
/strategy/AnimalPlay/nbproject/private/
/strategy/AnimalPlay/build/
/State/javaWaifu/nbproject/private/
/State/javaWaifu/build/
/Abstract_Factory/Abstract_Factory/nbproject/private/
/Abstract_Factory/Abstract_Factory/build/
/Abstract_Factory/nbproject/private/
/Abstract_Factory/build/